<div class="home"><p>Choose Hair Stylist and Services</p></div>
<div class="direction">
    <mat-card class="card-header mat-elevation-z6">
        <div class="card-header1"></div>
        <mat-card-header>
            <div mat-card-avatar class="card-header-avatar"></div>
            <mat-card-title>Oluwafemi</mat-card-title>
            <mat-card-subtitle> Barber</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions class="action-button" >
            <button mat-button color="primary" >Choice</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-header  mat-elevation-z6">
        <div class="card-header1"></div>
        <mat-card-header>
            <div mat-card-avatar class="card-header-avatar1"></div>
            <mat-card-title>Gabriel</mat-card-title>
            <mat-card-subtitle>Stylist/Barber</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="action-button">
            <button mat-button color="primary">Choice</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-header mat-elevation-z6">
        <div class="card-header1"></div>
        <mat-card-header>
            <div mat-card-avatar class="card-header-avatar2"></div>
            <mat-card-title>Jenny</mat-card-title>
            <mat-card-subtitle>Stylist/Barber</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="action-button ">
            <button mat-button color="primary">Choice</button>
        </mat-card-actions>
    </mat-card>

</div>

<div class="home"><p>Haircut List</p></div>


