<div class="home"><span>Choose Hair Stylist and Services</span></div>
<div class="direction">
    <mat-card class="card-header">
        <div class="card-header1"></div>
        <mat-card-header>
            <div mat-card-avatar class="card-header-avatar"></div>
            <mat-card-title>Femi</mat-card-title>
            <mat-card-subtitle>Senior Barber</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    
        <mat-card-actions>
            <button mat-button color="primary">Choice</button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="card-header">
        <div class="card-header1"></div>
        <mat-card-header>
            <div mat-card-avatar class="card-header-avatar"></div>
            <mat-card-title>Femi</mat-card-title>
            <mat-card-subtitle>Senior Barber</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    
        <mat-card-actions>
            <button mat-button color="primary">Choice</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card-header">
        <div class="card-header1"></div>
        <mat-card-header>
            <div mat-card-avatar class="card-header-avatar"></div>
            <mat-card-title>Femi</mat-card-title>
            <mat-card-subtitle>Senior Barber</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    
        <mat-card-actions>
            <button mat-button color="primary">Choice</button>
        </mat-card-actions>
    </mat-card>
</div>

