.home{
    // justify-content:;
    padding-top: 15px;
    padding-bottom: 5px;
    font-style: oblique;
    font-size: 20px;
    margin: 20px;
    font-family:"Trebuchet MS";
}

.card-header{
  
  max-width: 200px; 
  max-height: 300px;
  margin: 30px;
  border-radius: 20px;
  
}

.card-header1{
  max-width: 200px; 
  margin: 10px;
  border-radius: 20px;
  border: 2px solid black;
}
.card-header-avatar{
   background-image: url('./img/Avater.png');
   background-size: cover;
}
.card-header-avatar1{
  background-image: url('./img/Avatar2.png');
   background-size: cover;
}
.card-header-avatar2{
  background-image: url('./img/Avatar3.jpg');
   background-size: cover;
}

.direction{
    display: flex;
    justify-content: left;
}
.action-button{
  display: inline-block;
  padding: 0px 50px ;

}